{#
| component           | object    | Fields from twilight.json           |
| component.products  | Product[] | Selected products                   |
| component.categories| Category[]| Selected categories                 |
| component.brands    | Brand[]   | Selected brands                     |
| position            | int       | Sorting position                    |
#}
{% set source_type = component.source_type ?: 'latest' %}
{% set source_values = source_type == 'selected'
  ? component.products|default([])|map((item) => item.id ?: item.value ?: item)
  : (source_type == 'categories'
    ? component.categories|default([])|map((item) => item.id ?: item.value ?: item)
    : (source_type == 'brands'
      ? component.brands|default([])|map((item) => item.id ?: item.value ?: item)
      : [])) %}
{% set products = {
  source: source_type,
  source_value: source_values,
} %}
{% set title = component.section_title|default('أحدث المنتجات') %}
{% set limit = component.products_limit ?: 32 %}

<section id="nukhba-pro-moving-products-new-{{ position }}" class="s-block s-block--best-offers container overflow-hidden nukhba-pro-products nukhba-pro-products--reborn">
  {% if source_type == 'latest' or products.source_value|length %}
    <salla-products-slider
      source="{{ products.source }}"
      limit="{{ limit }}"
      autoplay
      source-value="{{ products.source_value|json_encode }}"
      block-title="{{ title }}"
      slider-id="nukhba-pro-moving-products-new-slider-{{ position }}"
    ></salla-products-slider>
  {% endif %}
</section>
